.converter-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
  
  transition: background-color 0.3s ease;

  min-height: 100vh;

  background-color: #9921ff;
}
